@using qltb.Data.ResVMs
@model ListWithPaginationResVM
@{
    ViewBag.Title = "Danh sách huyện";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var SuccessNotification = TempData["SUCCESS"];
    var WarningNotification = TempData["WARNING"];

    // get ten tinh param
    string TenHuyenQueryParam = "";
    Model.CurrentQueryParamsDict.TryGetValue("TenHuyen", out TenHuyenQueryParam);

    // get ten tinh param
    string TinhIdQueryParam = "";
    Model.CurrentQueryParamsDict.TryGetValue("TinhId", out TinhIdQueryParam);
}
<div class="d-md-flex align-items-md-start mb-3">
    <h1 class="page-title mr-sm-auto"> Danh sách huyện</h1><!-- .btn-toolbar -->
    <div class="btn-toolbar">
        <a href="#" type="button" onclick="CapNhatDuLieu()" class="btn btn-subtle-primary"><i class="fal fa-plus mr-1"></i> <span class="ml-1">Cập nhật dữ liệu</span></a>
    </div><!-- /.btn-toolbar -->
</div>
<div class="page-section">
    @*<header class="page-title-bar">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a href="#"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Danh sách tỉnh</a>
                    </li>
                </ol>
            </nav>
        </header>*@
    <div class="row">
        @*<div class="col-12">
                <div class="card card-fluid">
                    <div class="card-header">
                        <button onclick="Search()" class="btn btn-sm btn-outline-info">Tìm kiếm</button>
                        <div class="float-right">
                            <button class="btn btn-sm btn-success" onclick="CapNhatDuLieu()">Cập nhật dữ liệu</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="search-huyen-form">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label>Tên huyện</label>
                                        <input class="form-control" type="text" name="TenHuyen" placeholder="Tên huyện..." value="@TenHuyenQueryParam" />
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label class="control-label">Tỉnh</label>
                                        <select id="tinh-select" class="form-control" data-toggle="select2" data-placeholder="Chọn tỉnh" data-allow-clear="true">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>*@

        <div class="col-12">
            <div class="card card-fluid">
                <div class="card-header">
                    <form id="search-huyen-form">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="TenHuyen" placeholder="Tên huyện..." value="@TenHuyenQueryParam" />
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <select id="tinh-select" class="form-control" data-toggle="select2" data-placeholder="Chọn tỉnh" data-allow-clear="true">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <button onclick="Search()" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body" style="overflow-x: auto">
                    <div class="table-responsive" style="min-width: 1000px">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã Huyện</th>
                                    <th>Tên Huyện</th>
                                    <th>Tên Tỉnh</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var huyenResVM in (List<HuyenResVM>)Model.Objects)
                                    {
                                        <tr>
                                            <td><code>@huyenResVM.HuyenId</code></td>
                                            <td>@huyenResVM.TenHuyen</td>
                                            <td>@huyenResVM.TenTinh</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <ul class="pagination justify-content-center mt-4">
                            @{
                                foreach (var paginationResVM in (List<PaginationResVM>)Model.Paginations)
                                {
                                    <li class="page-item @(paginationResVM.IsActived.Value ? "active":  "") @(paginationResVM.IsDisabled.Value ? "disabled":  "")">
                                        <a class="page-link" href="/tu-dien/tim-kiem-huyen@(paginationResVM.Url)" tabindex="-1">@Html.Raw(paginationResVM.Text)</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/javascript/hanhnd_1.js"></script>
    <script>
        function CapNhatDuLieu() {
            $.ajax({
                url: "/tu-dien/cap-nhat-dghc",
                type: "post",
                success: function (response) {
                    console.log(response)
                    location.reload();
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        }

        function Search() {
            let tinhId = $('#tinh-select').select2('data')[0] ? $('#tinh-select').select2('data')[0].id : '';
            tinhId = tinhId ? tinhId : '';
            let queryParams = $('#search-huyen-form').serialize() + "&TinhId=" + tinhId;
            location.replace("/tu-dien/tim-kiem-huyen?" + queryParams);
        }

        $(document).ready(function () {
            // notification
            if ('@(SuccessNotification)') {
                toastr["success"]('@(SuccessNotification)')
            }
            else if ('@(WarningNotification)') {
                toastr["warning"]('@(WarningNotification)')
            }

            let tinhIdQueryParam = '@(TinhIdQueryParam)';

            if (tinhIdQueryParam) {
                $.ajax({
                    url: "/tu-dien/thong-tin-tinh",
                    type: "get", //send it through get method
                    data: {
                        tinhId: tinhIdQueryParam
                    },
                    success: function (response) {
                        let data = { ...response, id: response.TinhId }
                        var newOption = new Option(data.TenTinh, data.id, true, true);
                        $('#tinh-select').append(newOption).trigger('change');
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                    }
                });

            }

            // get ds tinh
            function getTinhs() {
                $.ajax({
                    url: "/tu-dien/danh-sach-tinh",
                    type: "get",
                    data: {
                        tenTinh: ''
                    },
                    success: function (response) {
                        console.log(response)
                        $('#tinh-select').html('').select2({ data: [{ id: '', text: '' }] });
                        $("#tinh-select").select2({
                            data: response.map(ele => {
                                return { ...ele, id: ele.TinhId, text: ele.TenTinh }
                            })
                        })

                        if (tinhIdQueryParam) {
                            $('#tinh-select').val(tinhIdQueryParam).trigger("change");
                        }
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                    }
                });

            }
            getTinhs();

            $("#search-huyen-form").submit(function (e) {
                e.preventDefault();
            })
        })

    </script>
}