@using qltb.Data.ResVMs
@model ListWithPaginationResVM
@{
    ViewBag.Title = "Khối lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var SuccessNotification = TempData["SUCCESS"];
    var WarningNotification = TempData["WARNING"];

    // get ten tinh param
    string TenKhoiLopQueryParam = "";
    Model.CurrentQueryParamsDict.TryGetValue("TenKhoiLop", out TenKhoiLopQueryParam);
}
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới khối lớp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-khoi-lop-form">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Mã khối lớp</label>
                                <input type="text" class="form-control" name="MaKhoiLop" />
                            </div>
                            <div class="form-group">
                                <label>Tên khối lớp</label>
                                <input type="text" class="form-control" name="TenKhoiLop" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="add-khoi-lop-btn">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-khoi-lop-form">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Mã khối lớp</label>
                                <input type="text" class="form-control" name="MaKhoiLop" />
                            </div>
                            <div class="form-group">
                                <label>Tên khối lớp</label>
                                <input type="text" class="form-control" name="TenKhoiLop" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="update-khoi-lop-btn">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bạn có chắc chắn muốn xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="delete-khoi-lop-btn">Xóa</button>
            </div>
        </div>
    </div>
</div>
<div class="d-md-flex align-items-md-start mb-3">
    <h1 class="page-title mr-sm-auto">Danh sách khối lớp</h1><!-- .btn-toolbar -->
    <div class="btn-toolbar">
        <a href="#" type="button" onclick="Add()" class="btn btn-subtle-primary"><i class="fal fa-plus mr-1"></i> <span class="ml-1">Thêm mới</span></a>
    </div><!-- /.btn-toolbar -->
</div>
<div class="page-section">
    <div class="row">
        @*<div class="col-12">
            <div class="card card-fluid">
                <div class="card-header">
                    <button onclick="Search()" class="btn btn-sm btn-outline-info">Tìm kiếm</button>
                    <div class="float-right">
                        <button class="btn btn-sm btn-primary" onclick="Add()">Thêm mới</button>
                    </div>
                </div>
                <div class="card-body">
                    <form id="search-khoi-lop-form">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <label>Tên khối</label>
                                    <input class="form-control" type="text" name="TenKhoiLop" placeholder="Tên khối lớp..." value="@TenKhoiLopQueryParam" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>*@

        <div class="col-12">
            <div class="card card-fluid">
                <div class="card-header">
                    <form id="search-khoi-lop-form">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="TenKhoiLop" placeholder="Tên khối lớp..." value="@TenKhoiLopQueryParam" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <button onclick="Search()" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body" style="overflow-x: auto">
                    <div class="table-responsive" style="min-width: 1000px">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã khối lớp</th>
                                    <th>Tên khối lớp</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var khoiLopResVM in (List<KhoiLopResVM>)Model.Objects)
                                    {
                                        <tr>
                                            <td>@khoiLopResVM.STT</td>
                                            <td><code>@khoiLopResVM.MaKhoiLop</code></td>
                                            <td>@khoiLopResVM.TenKhoiLop</td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-info" onclick="Edit('@(khoiLopResVM.KhoiLopId)')"><i class="fas fa-pencil"></i></button>
                                                <button class="btn btn-sm btn-outline-danger" onclick="Delete('@(khoiLopResVM.KhoiLopId)')"><i class="fas fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <ul class="pagination justify-content-center mt-4">
                            @{
                                foreach (var paginationResVM in (List<PaginationResVM>)Model.Paginations)
                                {
                                    <li class="page-item @(paginationResVM.IsActived.Value ? "active":  "") @(paginationResVM.IsDisabled.Value ? "disabled":  "")">
                                        <a class="page-link" href="/tu-dien/khoi-lop@(paginationResVM.Url)" tabindex="-1">@Html.Raw(paginationResVM.Text)</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/javascript/hanhnd_1.js"></script>
    <script>
        function Add() {
            $('#add-modal').modal('show');
            $('#add-khoi-lop-form input[name=MaKhoiLop]').val('');
            $('#add-khoi-lop-form input[name=TenKhoiLop]').val('');
            $("#add-khoi-lop-btn").unbind();
            $("#add-khoi-lop-btn").click(function () {
                AddKhoiLop();
            });
        }

        function Edit(KhoiLopId) {
            $.ajax({
                url: "/tu-dien/thong-tin-khoi-lop",
                data: {
                    KhoiLopId: KhoiLopId
                },
                type: "get",
                success: function (response) {
                    if (response) {
                        setTimeout(function () {
                            $('#edit-modal').modal('show');
                            $('#editModalLabel').html(response.TenKhoiLop)
                            $('#edit-khoi-lop-form input[name=MaKhoiLop]').val(response.MaKhoiLop);
                            $('#edit-khoi-lop-form input[name=TenKhoiLop]').val(response.TenKhoiLop);
                            $("#update-khoi-lop-btn").unbind();
                            $("#update-khoi-lop-btn").click(function () {
                                UpdateKhoiLop(response.KhoiLopId);
                            });
                        }, 500);
                    }
                    else {
                        setTimeout(function () { toastr["warning"]('Không tìm thấy dữ liệu') }, 500)
                    }

                },
                error: function (xhr) {
                }
            });
        }

        function Delete(KhoiLopId) {
            $('#delete-modal').modal('show');
            $("#delete-khoi-lop-btn").unbind();
            $("#delete-khoi-lop-btn").click(function () {
                DeleteKhoiLop(KhoiLopId);
            });
        }

        function DeleteKhoiLop(KhoiLopId) {
            console.log(KhoiLopId)
            $.ajax({
                url: "/tu-dien/xoa-thong-tin-khoi-lop",
                data: {
                    KhoiLopId: KhoiLopId
                },
                type: "post",
                success: function (response) {
                    location.reload();
                },
                error: function (xhr) {
                }
            });
        }

        function UpdateKhoiLop(KhoiLopId) {
            let data = {
                KhoiLopId: KhoiLopId
            }
            $('#edit-khoi-lop-form').serializeArray().forEach(ele => {
                data[ele.name] = ele.value
            })

            $.ajax({
                url: "/tu-dien/cap-nhat-thong-tin-khoi-lop",
                data: data,
                type: "post",
                success: function (response) {
                    location.reload();
                },
                error: function (xhr) {
                }
            });
        }

        function AddKhoiLop() {
            let data = {}
            $('#add-khoi-lop-form').serializeArray().forEach(ele => {
                data[ele.name] = ele.value
            })

            $.ajax({
                url: "/tu-dien/them-thong-tin-khoi-lop",
                data: data,
                type: "post",
                success: function (response) {
                    location.reload();
                },
                error: function (xhr) {
                }
            });
        }

        function Search() {
            let queryParams = $('#search-khoi-lop-form').serialize();
            console.log(queryParams);
            location.replace("/tu-dien/khoi-lop?" + queryParams);
        }

        $(document).ready(function () {
            if ('@(SuccessNotification)') {
                toastr["success"]('@(SuccessNotification)')
            }
            else if ('@(WarningNotification)') {
                toastr["warning"]('@(WarningNotification)')
            }

            $("#search-khoi-lop-form").submit(function (e) {
                e.preventDefault();
            })
        })
    </script>
}
