@using qltb.Data.ResVMs
@model ListWithPaginationResVM
@{
    ViewBag.Title = "Danh sách tỉnh";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var SuccessNotification = TempData["SUCCESS"];
    var WarningNotification = TempData["WARNING"];

    // get ten tinh param
    string TenTinhQueryParam = "";
    Model.CurrentQueryParamsDict.TryGetValue("TenTinh", out TenTinhQueryParam);
}
<div class="d-md-flex align-items-md-start mb-3">
    <h1 class="page-title mr-sm-auto"> Danh sách tỉnh</h1><!-- .btn-toolbar -->
    <div class="btn-toolbar">
        <a href="#" type="button" onclick="CapNhatDuLieu()" class="btn btn-subtle-primary"><i class="fal fa-plus mr-1"></i> <span class="ml-1">Cập nhật dữ liệu</span></a>
    </div><!-- /.btn-toolbar -->
</div>
<div class="page-section">

    <div class="row">
        @*<div class="col-12">
                <div class="card card-fluid">
                    <div class="card-header">
                        <button onclick="Search()" class="btn btn-sm btn-outline-info">Tìm kiếm</button>
                        <div class="float-right">
                            <button class="btn btn-sm btn-success" onclick="CapNhatDuLieu()">Cập nhật dữ liệu</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="search-tinh-form">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                    <div class="form-group">
                                        <label>Tên tỉnh</label>
                                        <input class="form-control" type="text" name="TenTinh" placeholder="Tên tỉnh..." value="@TenTinhQueryParam" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>*@

        <div class="col-12">
            <div class="card card-fluid">
                <div class="card-header">
                    <form id="search-tinh-form">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="TenTinh" placeholder="Tên tỉnh..." value="@TenTinhQueryParam" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <button onclick="Search()" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body" style="overflow-x: auto">
                    <div class="table-responsive" style="min-width: 1000px">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã tỉnh</th>
                                    <th>Tên tỉnh</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var tinhResVM in (List<TinhResVM>)Model.Objects)
                                    {
                                        <tr>
                                            <td>@tinhResVM.TinhId</td>
                                            <td>@tinhResVM.TenTinh</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <ul class="pagination justify-content-center mt-4">
                            @{
                                foreach (var paginationResVM in (List<PaginationResVM>)Model.Paginations)
                                {
                                    <li class="page-item @(paginationResVM.IsActived.Value ? "active":  "") @(paginationResVM.IsDisabled.Value ? "disabled":  "")">
                                        <a class="page-link" href="/tu-dien/tim-kiem-tinh@(paginationResVM.Url)" tabindex="-1">@Html.Raw(paginationResVM.Text)</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/javascript/hanhnd_1.js"></script>
    <script>
        function CapNhatDuLieu() {
            $.ajax({
                url: "/tu-dien/cap-nhat-dghc",
                type: "post",
                success: function (response) {
                    console.log(response)
                    location.reload();
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        }

        function Search() {
            let queryParams = $('#search-tinh-form').serialize();
            console.log(queryParams);
            location.replace("/tu-dien/tim-kiem-tinh?" + queryParams);
        }

        $(document).ready(function () {
            if ('@(SuccessNotification)') {
                toastr["success"]('@(SuccessNotification)')
            }
            else if ('@(WarningNotification)') {
                toastr["warning"]('@(WarningNotification)')
            }


            $("#search-tinh-form").submit(function (e) {
                e.preventDefault();
            })
        })
    </script>
}

